html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;

    #root{
        width: 100%;
        height: 100%;
    }
    header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 10vh;
      align-items: center;
      -webkit-box-shadow: 0px -6px 29px 8px rgba(0,0,0,0.77);
      -moz-box-shadow: 0px -6px 29px 8px rgba(0,0,0,0.77);
      box-shadow: 0px -6px 29px 8px rgba(0,0,0,0.77);
      z-index: 1;
      position: relative;
      background-color: #17f9f2;
      background-image: linear-gradient(315deg, #17f9f2 0%, #b0f9a9 74%);
      align-items: stretch;
    }
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 9vh;
        height: 9vh;
        margin-left: 3vh;
      }
    }
    .logo:hover{
       cursor: pointer;
    }
    .list{
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: wrap;
      div{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 4vh;
        padding-right: 4vh;
        font-weight: bold;
        color: #f4fff2;
        border:none;
        position: relative;
      }
      div::after{
        content: '';
        position: absolute;
        width: 0px;
        height: 5px;
        left: 50%;
        bottom:0;
        background-color: #004a55;
        transition: all ease-in-out .2s;
      }
      div:hover{
        color: #004a55;
        cursor: pointer;
      }
      div:hover::after{
        width: 100%;
        left: 0;
      }
    }
    @media only screen and (max-width: 460px){
      header{
        height: 15vh;
        justify-content: center;
      }
      .logo{
        img{
          margin: 0;
        }
      }
    }
    .main-square{
      background-color: #4286f4;
      display: flex;
      justify-content: center;
      height: 50vh;
      align-items: center;
    }
    .lower-squares{
      display: flex;
      height: 30vh;
      flex-wrap: wrap;
      justify-content: center;
      .middle-square{
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #90e238;
        min-width: 50%;
      }
      .rest{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        min-width: 50%;
          .adv{
            background-color: #d6c512;
            min-width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .smallest-squares{
            flex-wrap: wrap;
            min-width: 50%;
            display: flex;
            flex-direction: column;
              div{
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 50%;
              }
          }
      }
   }
    footer{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      background-color: #17f9f2;
      background-image: linear-gradient(315deg, #17f9f2 0%, #b0f9a9 74%);
    }
    @media only screen and (max-width: 460px){
      .lower-squares{
        height: 100vh;
      }
      .middle-square{
        width: 100%;
      }
      .rest{
        width: 100%;
      }
      .adv{
        width: 100%;
      }
      .smallest-squares{
        div{
          width: 100%;
          height: 20vh;
        }
      }
    }
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  