@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;

    #root{
        width: 100%;
        height: 100%;
    }
    .SinglePost{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        
    }
    .SinglePost .title {
        position: relative;
        z-index: 2;
        color: #ffffff;
      }
      .SinglePost .description {
        position: relative;
        z-index: 2;
        color: #ffffff;
      }
    .SinglePost:after {
        content:"";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;  
        background:url("../images/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(5.5px);
        transform: scale(1);
      }
      .title{
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Titillium Web', sans-serif;
          font-size: 10vw;
          border-bottom: 1px solid #FFFFFF;
      }
      .description{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80%;
          font-size: 2vw;
          font-family: 'Titillium Web', sans-serif;
      }
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  