html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    background-color: #17f9f2;
    background-image: linear-gradient(315deg, #17f9f2 0%, #b0f9a9 74%);
    #root{
        width: 100%;
        height: 100%;
    }
    .all{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-box{
        width: 30%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #FFFFFF;
        padding-bottom: 2vw;
        border-radius: 14px 14px 14px 14px;
        -moz-border-radius: 14px 14px 14px 14px;
        -webkit-border-radius: 14px 14px 14px 14px;
        border: 0px solid #000000;
        color: #004a55;
        img{
            width: 8vw;
            height: 8vw;
        }
        p{
            font-size: 1.8vw;
        }
    }
        .select{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            div{
                display: flex;
                margin-top: 0.5vh;
                width: 80%;
            }   
        }
        .data-picker{
            p{
                position: absolute;
                z-index: 1;
                margin-left: 80%;
            }
        }
        .react-datepicker-popper{
            z-index: 3;
        }
        .forgot{
            font-size: 2vh !important;
            width: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            div{
                padding-left: 5vh;
            }
        }
        .form2{
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            .input-wrapper{
                width: 70%;
                p{
                    font-size: 3vh;
                    margin-bottom: 1.5vh;
                }   
            }
            
            button{
                    
                margin: 0;
                width: 35%;
                background: rgb(25, 181, 254);
                color:#fff;
                border:none;
                border-radius:20px;
                padding:16px;
                padding-left:32px;
                padding-right:32px;
                margin-top:24px;
                font-size:12px;
                float:right;
                margin-bottom:8px;
                box-shadow:0px 8px 24px rgba(25, 181, 254,0.3);
                transition-property:all;
                transition-duration:.3s;
                text-decoration:none;
                cursor: pointer;
            }
            
            button:hover{
                background:rgb(1,135,200);
            }
        }
        .react-datepicker-ignore-onclickoutside{
            width: 80%;
        }
        .fileContainer{
            margin-top: 2vw;
            height: 0.2vw;
        }
        .label{
            position: absolute;
            margin-left: 70%;
            z-index: 3;
        }
        .form{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            input{
                width: 100%;
            }

            form{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                height: 100%;
                p{
                    color: #33b5e5;
                    cursor: pointer;
                }
                .preferences{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: stretch;
                }
        
            }
            .switches{
                display: flex;
                flex-direction: column;
                width: 80%;
                .input-wrapper{
                    align-items: stretch;
                    justify-content: flex-end;
                    padding-top: 0.5vh;
                    padding-bottom: 0.5vh;
                }
            }
            .input-wrapper {
                position: relative;
                line-height: 14px;
                margin: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 1.6vh;
                }
                .k{
                    margin-left: 2vw;
                }
                .m{
                    margin-right: 2vw;
                }
                .company_question{
                    margin-right: 2vw
                }
                label {
                    color: #bbb;
                    font-size: 11px;
                    text-transform: uppercase;
                    position: absolute;
                    z-index: 2;
                    left: 20px;
                    top: 14px;
                    padding: 0 2px;
                    pointer-events: none;
                    background: #fff;
                    -webkit-transition: -webkit-transform 100ms ease;
                    -moz-transition: -moz-transform 100ms ease;
                    -o-transition: -o-transform 100ms ease;
                    -ms-transition: -ms-transform 100ms ease;
                    transition: transform 100ms ease;
                    -webkit-transform: translateY(-20px);
                    -moz-transform: translateY(-20px);
                    -o-transform: translateY(-20px);
                    -ms-transform: translateY(-20px);
                    transform: translateY(-20px);
                  }
                  input {
                    width: 22vw;
                    font-size: 13px;
                    color: #555;
                    outline: none;
                    border: 1px solid #bbb;
                    padding: 10px;
                    border-radius: 20px;
                    position: relative;
                  }
                  input:invalid + label {
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -o-transform: translateY(0);
                    -ms-transform: translateY(0);
                    transform: translateY(0);
                  }
                  input:focus {
                    border-color: #2b96f1;
                  }
                  input:focus + label {
                    color: #2b96f1;
                    -webkit-transform: translateY(-20px);
                    -moz-transform: translateY(-20px);
                    -o-transform: translateY(-20px);
                    -ms-transform: translateY(-20px);
                    transform: translateY(-20px);
                  }
                  
              }
              .submits{
                  display: flex;
                  align-content: center;
                  flex-direction: row;
                  justify-content: space-around;
                  width: 100%;
                  .registration-button{
                      background: #ffbb33;
                      box-shadow:0px 8px 24px #ffd177;
                  }
                  .registration-button:hover{
                    background: #FF8800;
                }
                  button{
                    
                    margin: 0;
                    width: 35%;
                    background: rgb(25, 181, 254);
                    color:#fff;
                    border:none;
                    border-radius:20px;
                    padding:16px;
                    padding-left:32px;
                    padding-right:32px;
                    margin-top:24px;
                    font-size:12px;
                    float:right;
                    margin-bottom:8px;
                    box-shadow:0px 8px 24px rgba(25, 181, 254,0.3);
                    transition-property:all;
                    transition-duration:.3s;
                    text-decoration:none;
                    cursor: pointer;
                }
                
                button:hover{
                    background:rgb(1,135,200);
                }
              }
        }
        @media only screen and (max-width: 1000px){
            .form-box{
                padding: 0 !important;
            }
            .fileContainer{
                margin-top: 5vh;
            }
            .form-box{
                width: 100%;
                height: 100%;
                img{
                    width: 20vh;
                    height: 20vh;  
                }
                p{
                    font-size: 3vh;
                }
                .input-wrapper{
                    input{
                        width: 80vw;
                    }
                }
            }
        }
    }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  